
/*cellphone styles */
@media only screen and (max-width: 800px) {
.hide
{
   visibility: hidden;
   width: 0px!important;
   height: 0px!important;
}

#desc{
  position: absolute;
  left:0px;
  margin-left: 5vw;
  margin-right: 5vw;
}
#mainCol .contentRow{
  display: flex;
  flex-direction: column;
}
header a{
  margin-right: 1vw;
  margin-left: 5vw;
}

.profile{
  width:90vw!important;
}
}
@media only screen and (max-width:400px)
{
  #frontPage h1
  {
    font-size: 5vh;
  }

  #frontPage p{
    font-size: 3vh;
  }

  footer, header{
    height: :10vh !important;
  }
}

@media only screen and (max-width:220px)
{
  #frontPage h1
  {
    font-size: 4vh;
  }

  #frontPage p{
    font-size: 2.3vh;
  }
}
@media only screen and (max-width: 600px)
{
  #blog footer, #contact footer, #frontPage footer{
    position:relative;
    bottom:0;
  }
}

@media only screen and (min-width: 600px)
{
  #blog footer{
    position:absolute;
    bottom:0;
  }
}

/*margin styles for whole site */
html, body{
  margin:0px;
  overflow-x: hidden;
}


h1, h3, h4,  p, div{
  margin-top: 0px;
  margin-bottom: 0px;
}

div{
  margin-right: 10px;
}

img{
  margin-right: 5vw;
}
/* general flex box styles*/
.contentRow{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}


#contentCol{
display: flex;
flex-direction: column;
}
/*styles for text*/
p{
  color:#0D5C63;
  font-family: 'Open Sans', sans-serif;
  margin-right: 5vw;
}
h1, h3{
color:#CC3937;
font-family: 'Baloo', cursive;
}

h4{
  color:#9A879D;
  font-family: open sans;
}



/*contact page styles*/
#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.txt{
  width: 40vw;
  height: 2.5vh;
}
textarea{
    width: 40vw;
    height: 30vh;
    resize:horizontal;
}

label{
  color:#0D5C63;
  font-family: 'Open Sans', sans-serif;
}

#submit{
  background-color: #9A879D;
  color:#FFFFFA;
  height: 25px;
  width: 50px;
}

form{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}


input, textarea{
  margin-top: 1vh;
  margin-bottom: 1vh;
  border: 1px  solid #9A879D;
}

/*blog styles*/
.blogPost h3{
  font-size: 36px;
}
.blogPost p{
    font-size: 18px;
}
.blogPost{
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  margin-right: 5vw;
}
/*about page styles*/
.section{
display: flex;
flex-direction: column;
justify-content: flex-start;
}

#mainCol{
display: flex;
flex-direction: column;
position: relative;
width: 100vw;
}
#contentRowProfile{
  align-items: baseline;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

#subCol{
  margin-left: 2%;
}

.profile{
display: flex;
flex-direction: column;
justify-content: center;
width:40vw;
margin-bottom: 10px;
}

#mainCol img{
  width:250px;
  height: 188px;
}

/*front page styles */
#frontPage img{
  width: 400px!;
  height: 400px;
}
#frontPage .contentRow{
  width: 100vw;
  font-size: 24px;

}

#frontPage{
  width:100vw;
  height: 100vh;
  overflow-y: hidden;
  align-items: center;
  display:flex;
  justify-content: center!important;
}
/*headers and footers */
header{
display: flex;
flex-direction: row;
justify-content: flex-start;
background-color: #E51F21;
overflow: hidden;
width: 100vw;
height:5vh;
}

footer{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: baseline;
background-color: 	#E51F21;
width: 100vw;
height:auto;
}

#frontPage footer, #contact footer{
  position:absolute;
  bottom:0;
}

/*header/footers link styles*/
footer a, header a{
  color:#FFFFFA;
  height: 100%;
  width: auto;
  margin-right: 1vw;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}


footer a{
  width: auto !important;
  margin-left: 20px;
}

footer a:hover{
  text-decoration: underline;
}
header a:hover{
  background-color:#CC3937;
}
/*copyright style*/
footer p{
  margin-left: 1vw;
  color:  #FFFFFA !important;
}
